---
import { Image } from "@astrojs/image/components";

const { name, email, phone, img } = Astro.props;
---

<div class="flex flex-row">
  <Image
    alt="Me"
    src={img}
    width={250}
    height={250}
    class="w-52 h-52"
  />
  <div class="flex flex-col ml-4 flex-1">
    <h1 class="font-bold text-3xl">{name}</h1>
    <hr class="bg-black h-[4px] mt-4" />

    <div class="flex justify-end">
      <ul class="flex mt-4 flex-col">
        <li>
          <span class="font-bold">E-mail:</span> <a href={`mailto:${email}`}>{email}</a>
        </li>
        <li>
          <span class="font-bold">Phone:</span> <a href={`tel:${phone}`}>{phone}</a>
        </li>
        <li>
          <span class="font-bold">Github:</span> <a href="https://github.com/razvantimis">github.com/razvantimis</a>
        </li>
      </ul>
    </div>
  </div>
</div>
